@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap%27");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: "Share Tech Mono", monospace;
  background: #000;
  color: #EEEEEE;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 {
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

ul {
  margin: 0;
  border: 0;
  padding: 0;
}

code {
  font-family: "Inconsolata", monospace;
  display: flow-root;
  margin: .5em 0;
  background: #18141c;
  border: 2px solid #2f2f2f;
  border-left: 2px solid#ffffff;
  padding-left: 40px;
  max-height: 70vh;
  overflow: auto;
  color: #abb8c3;
  font-size: 1.3em;
}

#main-header {
  background-color: #171717;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
}

#main-header ul {
  display: flex;
  flex-direction: row;
}

#main-header li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-header a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 20px;
  opacity: 0.7;
  color: #DA0037;
  background-color: #EDEDED;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#main-header a:hover {
  color: #EDEDED;
  background-color: #DA0037;
}

i {
  font-style: italic;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 20px;
  opacity: 0.7;
  color: #DA0037;
  background-color: #EDEDED;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 1px;
}


#main-area {
  width: 90%;
  margin: 0em auto;
}

#main-area p {
    text-align: justify;
    line-height: 1.25em;
}

#main-area strong{
  text-transform: uppercase;
  color: red;
}

#main-area em{
  text-transform: uppercase;
  color: blueviolet;
}

#main-area li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 20px;
  opacity: 0.7;
  color: #DA0037;
  background-color: #EDEDED;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 1px;
}

.responsiva {
  width: 100%;
  max-width: 768px;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 9px;
  border-style: solid;
  border-color: #DA0037;
  border-width: 2px;
}

.opconteiner{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.opitem {
  width: 250px;
  height: 100px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
  color: #DA0037;
  background-color: #EDEDED;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.opitem:hover {
  color: #EDEDED;
  background-color: #DA0037;
}

.optext{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#home {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.25em;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #111;
  color: #818181;

}

#main-footer {
  background-color: #171717;
  padding: 3px;
  text-align: center;
}

#main-footer a {
display: inline-block;
text-decoration: none;
font-size: 1.2em;
padding: 5px 20px;
opacity: 0.7;
color: #DA0037;
background-color: #EDEDED;
border-style: solid;
border-color: black;
border-width: 2px;
margin-top: 1px;
}
