@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap%27");
body {

  max-width: 90%;
  margin: auto;
  font-family: "Share Tech Mono", monospace;
  color: chartreuse;
  background-color: black;

}

#main-area p{
    text-align: justify;
    line-height: 1.25em;

  }

#home {
    
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.25em;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #111;
  color: #818181;

}

#main-footer p{
    
    margin-top: 20px;
    text-align: center;
    line-height: 1.25em;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: #111;
    color: #818181;

}

.responsiva {
    width: 100%;
    max-width: 768px;
    height: auto;
  }